.FilmDetails {
  width: 500px;
  margin: 0 auto;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}

.Films {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-top: 20px;

  .Film {
    position: relative;
    width: 400px;
    cursor: pointer;
    margin-top: 20px;

    &-img-wrap {
      position: relative;

      img {
        width: 400px;
        height: auto;
      }

      p {
        margin: 0;
        height: 225px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(29, 106, 154, 0.72);
        color: #fff;
        visibility: hidden;
        opacity: 0;

        transition: opacity .2s, visibility .2s;
      }

      &:hover {
        p {
          visibility: visible;
          opacity: 1;
        }
      } 
    }
  }

}